.breadcrumb
{
  padding: 0;
  margin-bottom: 5px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;

  > li {
    display: inline-block;
    font-size:12px;

    a {

    }

    + li:before {
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}