.public
{
  background: url('/images/bg.png');

  header { text-align:center; padding-top:5px; border-bottom:none; }
  header .logo, .login .logo {

    img { height:50px; }

  }

  .login {
    width:350px;
    margin:100px auto 0 auto;
  }

  header + .login { margin-top:50px; }
  .login .panel{

    border:1px solid #eee;
    background:#fff;

  }

  .login .panel-heading {
    text-align:center;
  }

  .login .panel-body {

    padding:20px 20px;
  }

  .login .panel-body .forgot
  {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #555555;
    background-color: #f1f1f1;
    line-height: 25px;
    padding:0 7px;
    font-size: 12px;
  }

  .login .panel-body .login-password
  {
    position: relative;
  }

  .login .panel-footer {

    background:transparent;
    border-top:none;
    padding-bottom:20px;

  }
  .login .credits img
  {
    height:30px;
    opacity:0.2;

    &:hover {
      opacity:0.6;
    }
  }

  .btn, & .input-lg
  {
    border-radius:0
  }

  .login  .text
  {
    font-weight:normal; font-size:0.8em;
  }

  .input:hover, & .input-lg:focus
  {
    box-shadow: none !important;
  }

  .btn-login { background:#5aa6e1; color:#fff }
  .btn-login:hover
  {
    background: linear-gradient(to bottom, #7bbbed 0%, #5aa6e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbbed', endColorstr='#5aa6e1', GradientType=1 );
  }

  .alert {
    border-radius:0;
    border-left:none;
    border-right:none;
  }
}