$proxima-font-path : "fonts" !default;

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('#{$proxima-font-path}/ProximaNova-Light.eot');
  src: url('#{$proxima-font-path}/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$proxima-font-path}/ProximaNova-Light.woff2') format('woff2'),
  url('#{$proxima-font-path}/ProximaNova-Light.woff') format('woff'),
  url('#{$proxima-font-path}/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('#{$proxima-font-path}/ProximaNova-Regular.eot');
  src: url('#{$proxima-font-path}/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$proxima-font-path}/ProximaNova-Regular.woff2') format('woff2'),
  url('#{$proxima-font-path}/ProximaNova-Regular.woff') format('woff'),
  url('#{$proxima-font-path}/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bd';
  src: url('#{$proxima-font-path}/ProximaNova-Bold.eot');
  src: url('#{$proxima-font-path}/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$proxima-font-path}/ProximaNova-Bold.woff2') format('woff2'),
  url('#{$proxima-font-path}/ProximaNova-Bold.woff') format('woff'),
  url('#{$proxima-font-path}/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
