$theme-font: "Proxima Nova Lt";
$theme-font-bold: "Proxima Nova Bd";

$theme-primary: #2660bd;
$theme-main-bgcolor: #ecf0f5;
$theme-sidebar-bgcolor: #fff;
$theme-page-header-bgcolor: #fff;

$theme-link: #2055ab;
$theme-link-hover: lighten($theme-primary,15%);

$theme-header-height: 70;
$theme-header-icon: $theme-link;
$theme-header-icon-hover: $theme-link-hover;

$theme-border-color: #e1e1e1;
$theme-sidebar-width: 200;
$theme-sidebar-link: #949494;

//options
$border-bottom-enable: true;
$header-border-shadow: false;

//components
//$breadcrumb-separator: "/";

//mixins
@mixin borderBottom($use)
{
  @if $use == true {
    border-bottom: 1px solid $theme-border-color;
  }
}

@mixin headerShadow($use)
{
  @if $use == true {
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.1);
  }
}

@mixin navbarReset()
{
  .navbar-nav {
    > li > a {
      color: $theme-header-icon;

      &:hover,
      &:focus {
        color: $theme-header-icon-hover;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $theme-link-hover;
        background: none;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $theme-link;
        background: none;
      }
    }
  }
}

@mixin transition($duration)
{
  -webkit-transition: all $duration ease 0s ;
  -moz-transition: all $duration ease 0s;
  -ms-transition: all $duration ease 0s;
  -o-transition: all $duration ease 0s;
  transition: all $duration ease 0s;
}
