/*
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,700');
*/

$simple-line-font-path  : '../../fonts/simpleline/';
$fa-font-path           : '../fonts/fontawesome';
$proxima-font-path      : '../../fonts/proximanova';
$ionicons-font-path     : '../fonts/ionicons';

@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/*@import "../bower_components/font-awesome/scss/font-awesome.scss";*/
@import "../bower_components/Ionicons/scss/ionicons";
@import "../bower_components/simple-line-icons/scss/simple-line-icons";
@import "proximanova";


@import "theme";


@import "animate";