@import "theme-config";

/*
* THEME START
*/

html, body
{
  height:100%;
}

body {
  background:$theme-main-bgcolor;
}

a {
  color: $theme-link;
  @include transition(0.3s);
}

a:hover, a:focus
{
  color:$theme-link-hover;
}
/* HEADER */
header
{
  width:100%;
  background:#fff;
  /*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);*/
  @include borderBottom($border-bottom-enable);
  @include clearfix();
  height: #{$theme-header-height}px;

  .header-inner
  {
    width:100%;

    .navbar-toggle
    {
      float:left;
      margin:0 5px 0 10px;
    }

    .header-logo
    {
      float:left;
      padding:5px;
      margin-left:5px;
      margin-top:3px;

      a
      {
        outline:none;
      }

      img
      {
        height:50px;
      }
    }

    @include navbarReset();

    .navbar-toggle
    {
      background:transparent;
      margin-top:15px;

      .icon-bar
      {
        background: $theme-primary;
      }
    }

    /* main nav */
    #main-nav
    {
      margin-left:20px;
      float:left;
      margin-top:5px;

      .navbar-nav {
        > li > a {

          font-size:16px;
          text-transform:uppercase;

          .icon {
           font-size:26px;
            opacity:0.5;
            @include transition(0.3s);
          }

          &:hover .icon,
          &:focus .icon{
            opacity:1;
          }

          &.active .icon{
            opacity:1;
          }
          span
          {
            display:none;
            text-transform:uppercase;
          }
        }
      }
    }
  }
  /* end main nav */

  /* user bar */
  .user-bar
  {
    margin-top:10px;
    margin-right:10px;

    .nav {
      @include clearfix();

      li {
        float: left;

        a {
          display: block;

          &:hover,
          &:focus,
          .active {
            background-color: transparent;
          }

          .dropdown-toggle > .icon {
            font-size: 18px;
          }

          .username {
            font-size: 14px;
          }

          .badge {
            font-size: 10px;
            padding: 1px 3px;
            border-radius:2px;
            margin-top:-25px;
            margin-left:-7px;
            background: #e70404;
            font-weight: normal;
          }
        }

        > .dropdown-menu {
          @include box-shadow(0 2px 0px rgba(0, 0, 0, .15));

          li {
            font-size: 14px;
          }
        }

      }

      li.dropdown-user {
        .dropdown-toggle {
          img {
            height: 24px;
          }
        }
      }
    }
  }
  /* end user bar */
}

header.fixed
{
  top:0px;
  position:fixed;
  z-index:100;
}

// Collapse header
@media (max-width: $grid-float-breakpoint-max) {
  header .header-inner #main-nav
  {
    margin:0;
  }

  header .header-inner .user-bar
  {
    .nav
    {
      margin-top:15px;

      > li
      {
        display:inline;

        > a {
          display:inline;
        }
      }
    }
  }
  .navbar-collapse
  {
    float:none;
    background:$theme-primary;
    width:100%;
    margin:0;

    .navbar-nav {

      > li > a
      {
        color:#fff !important;

        .icon {
          font-size:15px !important;
          margin-right:10px;
        }

        span {
          display:inline !important;
        }
      }
    }
  }
}

/*
  MAIN
*/
header.fixed + .wrapper {
  margin-top: #{$theme-header-height}px;
}
.wrapper
{
  height:100%;

  .main
  {
    height:100%;
    padding:0;
    background:$theme-main-bgcolor;

    .sidebar
    {
      font-size:14px;
      width:#{$theme-sidebar-width}px;
      background: $theme-sidebar-bgcolor;
      float:left;
      height:100%;
      @include headerShadow($header-border-shadow);
      border-right:1px solid $theme-border-color;
      position:fixed;

      .nav li {

        a{
          padding:5px 10px;
          color:$theme-sidebar-link;

          &:hover {
            background:darken($theme-sidebar-bgcolor,5%);
          }
        }

        &.heading
        {
          text-transform:uppercase;
          padding:5px 11px;
          font-size:0.9em;
          background:darken($theme-sidebar-bgcolor,10%);
          font-family:"Proxima Nova Rg";
          color:#7d7d7d;
        }

      }

    }

    aside.sidebar + div.content
    {
      margin-left:#{$theme-sidebar-width}px;
      transition: width 0.3s ease, margin 0.3s ease;
    }

    .content
    {
      .content-wrap
      {
        padding:10px;
      }
      .page-header
      {
        padding:8px 15px;
        margin:0 0 10px 0;
        border-bottom:1px solid $theme-border-color;
        background:$theme-page-header-bgcolor;

        h3
        {
          margin:0;
          font-family:"Proxima Nova Rg";
          color:#333;
          small {
            font-family: "Proxima Nova Lt";
          }
        }

      }
    }

  }
}


.toggle-sidebar
{
  position: absolute;
  border:1px solid #ccc;
  border-left:none;
  left:0;
  top:250px;
  padding:0;
  margin-right:10px;
  color:green;
  padding:0 3px 0 4px;
  height:45px;
  background:#eee;
  z-index:999;

  &:hover
  {
    background:#fff;
  }


}

@media (max-width: $grid-float-breakpoint-max) {
  .wrapper {
    .main {
      .sidebar { display:none }
      aside.sidebar + div.content { margin-left:0  }
      aside.sidebar.active + div.content
      {
        margin-left:#{$theme-sidebar-width}px;
      }
    }
  }
}

/*
* SKINS
*/
.skin-blue
{
  header
  {
    background:#0c89fe !important;
  }

  .user-bar .nav > li > a {
    color:#fff;
  }

  .header-inner #main-nav .navbar-nav > li > a {
    .icon {
      font-size: 26px;
      opacity: 0.5;
      color:#fff;
      @include transition(0.3s);
    }
  }

}

/*
  COMPONENTS
*/
@import "theme/breadcrumbs";
@import "theme/boxes";
@import "theme/tabs";
@import "theme/public";